<applet code="kecafon.class" width=480 height=40>
<param name="bgcolor" value="0000cc">
<param name="text1" value="Welcome to NetMag NCIC">
<param name="text2" value="Nejvetsi Javovske site v zemi">
<param name="text3" value="~e=10">
<param name="text4" value="Nebrat tak doslova...">
<param name="text5" value="~maindelay=10000">
<param name="text6" value="~e=9">
<param name="text7" value="Slysel jsem nejake nechutne pomluvy">
<param name="text8" value="jako, ze je pry Java pomala ?!">
<param name="text9" value="Pokud nekdo tohleto precte,">
<param name="text10" value="tak asi opravdu pomala bude">
<param name="text11" value="~e=11">
<param name="text12" value="~maindelay=4000">
<param name="text13" value="(Kacirska kniha)">
<param name="text14" value="~e=8">
<param name="hstep" value="3">
</applet>
<a href="http://ncic.netmag.cz/apps/nase/kecafon.html">homepage</a> |
<a href="kecafon.java"> The source</a>